{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Landing Page</title>
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/icon type">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    {% block styles %}{% endblock %}
  </head>
  <body style="background-color: #444654;">
    <div class="w-100">
        <div class="container min-vh-100 d-flex justify-content-center align-items-center">
            <div class="container-fluid">
                <div class="text-center mb-2"><img src="{% static 'images/logo.png' %}" class="img-fluid" style="width:90px"></div>
                <div class="mb-2 text-center text-light">Welcome to AI-Generated Syllabus</div>
                <div class="mb-4 text-center text-light">Log in with your WMSU account to continue</div>
                <div class="d-flex justify-content-center gap-3">
                    <a href="{% url 'login' %}" type="button" class="btn btn-primary">Log In</a>
                    <a href="{% url 'signup' %}" type="button" class="btn btn-primary">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
