{% extends '../base/base.html' %}
{% block title %}Email Sent{% endblock %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="container py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-4">
                <div class="card">
                <div class="card-body">
                    <div class="text-center mb-2"><img src="{% static 'images/logo.png' %}" class="img-fluid" style="width:90px"></div>
                    <h5 class="card-title text-center mb-3">Success</h5>
                    <div class="text-center">
                        <i class='bx bxs-check-circle' style="font-size: 70px; color: green;"></i>
                    </div>
                    <div class="text-center">
                        <p>An E-mail has been sent to <span>{{ email }}</span></p>
                    </div>
                    
                    <div class="text-center">
                        <p>Go back to <a class="text-decoration-none fw-bold" href="{% url 'login' %}" style="color: #d24d57 !important;">Log In</a></p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}