{% extends '../base/base.html' %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="container py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-4">
                <div class="card">
                <div class="card-body">
                    <div class="text-center mb-2"><img src="{% static 'images/logo.png' %}" class="img-fluid" style="width:90px"></div>
                    <h5 class="card-title text-center mb-3">Log in with your WMSU Account</h5>
                    {% if error_message %}
                        <div class="alert alert-danger text-danger fw-bold" role="alert">{{ error_message }}</div>
                    {% endif %}
                    <form method="POST" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="email" name="email" placeholder="WMSU E-mail">
                            <label for="email">Wmsu Email</label>
                        </div>
                        <div class="form-floating mb-2">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                            <label for="inputPassword">Password</label>
                        </div>
                        {% comment %} <div class="mb-2 d-flex justify-content-end"><a href="{% url 'forgot_password' %}" class="text-decoration-none" style="color: #d24d57 !important;">Forgot Password?</a></div> {% endcomment %}
                        <div class="d-grid gap-2">
                            <button type="submit"  class="btn btn-primary">Log in</button>
                        </div>
                    </form>
                    <br>
                    <div class="text-center">
                        <p>Don't Have An Account? <a class="text-decoration-none fw-bold" href="{% url 'signup' %}" style="color: #d24d57 !important;">Create Account</a></p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}